body {
  margin: 15px 10px;
  padding: 0;
  width: 420px;
  font-family: Helvetica, sans-serif;
  color: #3b3b3b;
  overflow-x: hidden;
}
#microformats {
  width: 400px;
}
#header {
  overflow: hidden;
}
#icon {
  display: block;
  float: left;
}
#header h1 {
  margin-left: 51px;
  height: 48px;
  margin-top: 16px;
  color: #4b6e0e;
  font-size: 19px;
}
.loggedout .login {
  display: none;
}
.loggedin .logout {
  display: none;
}
ul {
  list-style-type: none;
  padding: 0;
}
h1 {
  font-size: 20px;
  font-weight: normal;
  margin: 0;
}
.hcard, .hcalendar, .hreview, .hrecipe, .geo {
  margin: 20px 0;
  padding: 10px 15px 5px 15px;
  overflow: hidden;
  border: 1px solid #b6b6b6;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#e7e7e7));
  -webkit-box-shadow: 0 2px 2px rgba(0,0,0,.2);
  box-shadow: 0 2px 2px rgba(0,0,0,.2);
}
.hcard:hover, .hcalendar:hover, .hreview:hover, .hrecipe:hover, .geo:hover {
  border: 1px solid #aaa;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#d7d7d7));
}
.hcard h1 a, .hcalendar h1 a {
  float: right;
}
.download {
  float: left;
}
.download .photo {
  width: 48px;
  height: 48px;
  display: block;
}
.vevent:hover, .vcard:hover {
  cursor: pointer;
}
.hcalendar .download {
  position: relative;
}
.hcalendar .download .dtstart-month {
  font-size: 11px;
  text-transform: uppercase;
  font-weight: bold;
  position: absolute;
  top: 6px;
  left: 13px;
  text-shadow: 0 1px 1px rgba(255,255,255,.5);
}
.hcalendar .download .dtstart-day {
  font-size: 20px;
  text-transform: uppercase;
  position: absolute;
  top: 21px;
  left: 13px;
}
.details {
  margin-left: 58px;
}
.details ul li {
  font-size: 12px;
  margin-bottom: 7px;
}
.details h1 {
  margin-bottom: 7px;
}
p {
  font-size: 12px;
}
a {
  color: #3b3b3b;
}
.static-map {
  display: block;
  margin-top: 7px;
  border: 1px solid #888;
}