body {
  margin: 15px 10px;
  padding: 0;
  width: 420px;
  font-family: 'Open Sans', sans-serif;
  color: #3b3b3b;
  overflow-x: hidden;
}
#header {
  overflow: hidden;
}
#icon {
  display: block;
  float: left;
}
#header h1 {
  margin-left: 51px;
  margin-top: 16px;
  font-size: 17px;
  color: rgb(0, 141, 43);
}
.loggedout .login {
  display: none;
}
.loggedin .logout {
  display: none;
}
ul {
  list-style-type: none;
  padding: 0;
}
h1 {
  font-size: 20px;
  font-weight: 700;
  margin: 0;
}
.hcard, .hcalendar, .hreview, .hreviewagg, .hrecipe, .geo {
  padding: 0 0 5px 10px;
  overflow: hidden;
  border-bottom: 1px solid #ccc;
}
.hcard h1 a, .hcalendar h1 a {
  float: right;
}
.download {
  float: left;
}
.download .photo {
  width: 48px;
  height: 48px;
  display: block;
}
.vevent:hover, .vcard:hover {
  cursor: pointer;
}
.details ul li {
  font-size: 15px;
  font-weight: 300;
  margin-bottom: 7px;
}
.details h1 {
  white-space: nowrap;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
  margin-bottom: 7px;
}
p {
  font-size: 12px;
}
a {
  color: #3b3b3b;
}
.static-map {
  display: block;
  margin-top: 7px;
  border: 1px solid #888;
}
.googleconnection, .googleconnection a {
  color: #999;
  font-size: 11px;
  overflow: hidden;
}
.googleconnection div {
  float: right;
  background: #fff url(../images/googleIcon_resized.png) no-repeat 0 0;
  padding-left: 20px;
  height: 16px;
}
.submitvevent, .submithcard {
  margin-right: 10px;
  margin-top: -1px;
}
